<nav class="navbar__container">
  <%= link_to "Stocktrack", root_path, class: "navbar__item navbar__item--large navbar__item--link" %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar__item--small navbar__item--link" %>
</nav>