@import '_variables';

.form {
  &__link { // .form__link
    text-decoration: none;
    color: $white;
    display: flex;
    justify-content: center;
  }
  &__button { // .form__button
    &--google { // .form__button--google
      border: none;
      background: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      height: 2.5rem;
    }
  }
  &__item { // .form__item
    margin: 1rem 0;
  }
  &__passwords { // .form__passwords
    display: flex;
    justify-content: space-between;
  }
}


.field {
  height: 2rem;
  border: 1px solid #777;
  border-radius: 4px;
  padding-left: 7px;
  font-size: 14pt;
  font-weight: 400;
  
  &.full {
    width: 100%;
  }
  &.half {
    width: 50%;
  }
  &.submit {
    background: #4285F4;
    border: none;
    color: $white;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}
